@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

:root{
    --ff-manrope : 'Manrope', sans-serif;

    --gradient-text : linear-gradient(90deg, #ae67fa 1.84%, #f49123);
    --gradient-bar : linear-gradient(105deg, #ae67fa 13.84%, #f49123);

    --clr-bg : #040c18;
    --clr-footer : #031b34;
    --clr-blog : #042c54;
    --clr-text : #81afdd;
    --clr-subtext : #ff8a71;
}
